%p{:align => "CENTER"}
  %span{:style => "font-family: Times, serif; font-size: medium;"}
    %span{:style => "font-family: Times, serif;"}
      %span{:style => "font-family: Times, serif;"}
        %span{:style => "font-family: Times, serif;"} Young Single Adult Prague Weekend 2014
%p
  %span{:style => "font-family: Times, serif; font-size: medium;"}
    %span{:style => "font-family: Times, serif;"} All participants of the Young Single Adult Weekend, are expected to abide by the standards of the Church of Jesus Christ of Latter-day Saints, for the security and safety of all involved.
%ul
  %li
    %p
      %span{:style => "font-family: Times, serif; font-size: medium;"}
        %span{:style => "font-family: Times, serif;"} I have read and am familiar with the standards as described in the
        %span{:style => "font-family: Times, serif;"}
          %strong For the Strength of Youth
        %span{:style => "font-family: Times, serif;"} pamphlet, and agree to abide by them throughout the time of the conference.
  %li
    %p
      %span{:style => "font-family: Times, serif; font-size: medium;"}
        %span{:style => "font-family: Times, serif;"} I have read the standards included in the
        %span{:style => "font-family: Times, serif;"}
          %strong Word of Wisdom
        %span{:style => "font-family: Times, serif;"} and agree to abide by them.
  %li
    %p
      %span{:style => "font-family: Times, serif; font-size: medium;"}
        %a{:name => "_GoBack"}
        %span{:style => "font-family: Times, serif;"}
          %span{:style => "font-family: Times, serif;"} I will keep the
          %span{:style => "font-family: Times, serif;"}
            %strong Law of Chastity
          %span{:style => "font-family: Times, serif;"} .
  %li
    %p
      %span{:style => "font-family: Times, serif; font-size: medium;"}
        %span{:style => "font-family: Times, serif;"} I will closely follow the
        %span{:style => "font-family: Times, serif;"}
          %strong dress code
        %span{:style => "font-family: Times, serif;"} at all times.*
  %li
    %p
      %span{:style => "font-family: Times, serif; font-size: medium;"}
        %span{:style => "font-family: Times, serif;"} I will use only
        %span{:style => "font-family: Times, serif;"}
          %strong clean and respectful language
        %span{:style => "font-family: Times, serif;"} .
  %li
    %p
      %span{:style => "font-family: Times, serif; font-size: medium;"}
        %span{:style => "font-family: Times, serif;"} I will
        %span{:style => "font-family: Times, serif;"}
          %strong display friendship and maintain behavior appropriate to the spirit of the Church conference.
  %li
    %p
      %span{:style => "font-family: Times, serif; font-size: medium;"}
        %span{:style => "font-family: Times, serif;"} I will follow the instructions of the weekend organizers/Prague District leadership.
  %li
    %p
      %span{:style => "font-family: Times, serif; font-size: medium;"}
        %span{:style => "font-family: Times, serif;"} I am aware that breaking rules and/or instructions may result in suspension from participation.
%p
  %span{:style => "font-family: Times, serif; font-size: medium;"}
    %span{:style => "font-family: Times, serif;"} * The dress code is an important part of the conference and applies to both men and women. At no time during the conference program, activities, dances or free time is it allowable to wear clothing, which is &lsquo;see-through&rsquo; or revealing in any way. Shorts and skirts must be knee-length or longer. Shirts and blouses must cover waist and shoulders and must not be low-cut in the front or back. These guidelines also apply to sports activities attire. If the attire is shorter than the knee-length or too revealing the participant will be asked to change into appropriate clothing or, in extreme cases, be excluded from participating in the activity.&nbsp;